<%= simple_nested_form_for @event, defaults: { label: false} do |f| %>
  <div class='form-group'>
    <div class='row'>
      <div class='col-md-6'>
        <%= f.input :title, label: 'Nome do Evento', input_html: { class: 'form-control' } %>
      </div>
      <div class='col-md-6'>
        <%= f.input :event_date, as: :string, label: 'Data do Evento', input_html: { class: 'form-control datepicker' } %>
      </div>
    </div>
  </div>
  <div class='form-group'>
    <%= f.input :description, label: 'Descrição do Evento', input_html: { class: 'ckeditor' } %>
  </div>

  <h4 class='page-header'>Palestras</h4>
  <div class='form-group'>
    <%= f.simple_fields_for :talks do |t| %>
      <div class='row'>
        <div class='col-md-12'>
          <%= t.link_to_remove "Remover Palestra", class: 'btn btn-danger btn-xs' %>
        </div>
      </div>
      <%= render 'talks', t: t %>
    <% end %>
    <div class='row'>
      <div class='col-sm-12'>
        <p><%= f.link_to_add "Adicionar Palestra", :talks, class: 'btn btn-success btn-xs' %></p>
      </div>
    </div>
  </div>

  <div class='form-group'>
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
    <%= link_to 'Voltar', events_path, class: 'btn btn-link' %>
  </div>
<% end %>
