<%= simple_form_for @speaker, defaults: { label: false} do |f| %>
  <div class='form-group'>
    <div class='row'>
      <div class='col-md-6'>
        <%= f.input :name, label: 'Nome do Palestrante', input_html: { class: 'form-control' } %>
      </div>
      <div class='col-md-6'>
        <%= f.input :gplus, as: :string, label: 'Url do GooglePlus', input_html: { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class='form-group'>
    <%= f.input :bio, as: :text, label: 'Bio do Palestrante', input_html: { class: 'form-control', rows: 4 } %>
  </div>

  <div class='form-group'>
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
    <%= link_to 'Voltar', speakers_path, class: 'btn btn-link' %>
  </div>
<% end %>
